.form__item input {
    border: 3px solid var(--cor-elementos);
    border-radius: 25px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    color: var(--cor-elementos);
    font-family: var(--fonte-primaria);
    font-weight: 600;
}

.form__item input::placeholder {
    font-family: var(--fonte-primaria);
    font-weight: 600;
    color: var(--cor-elementos);
}

input[type='text']:focus {
    outline: none;
} 